.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* Ширина контейнера */
  height: 70%; /* Высота контейнера */
  margin: auto; /* Центрирование по горизонтали */
  padding: 20px;
  background-color: #f8f9fa; /* Цвет фона контейнера */
  border-radius: 10px; /* Скругление углов контейнера */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень контейнера */
}

.add-task-container {
  margin-bottom: 20px;
}

.input-task {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%; /* Ширина поля ввода задачи */
}

.add-task-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 100%; /* Ширина списка дел */
}

.todo-item {
  margin-bottom: 10px;
}

.edit-input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
}

.delete-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}
.deleted {
  text-decoration: line-through;
}




.todo-item {
  margin-bottom: 10px;
  font-size: 30px;
}
