.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* Ширина контейнера */
  height: 70%; /* Высота контейнера */
  margin: auto; /* Центрирование по горизонтали */
  padding: 20px;
  background-color: #f8f9fa; /* Цвет фона контейнера */
  border-radius: 10px; /* Скругление углов контейнера */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень контейнера */
  transition: background-color 0.3s ease; /* Анимация изменения цвета фона */
}

.add-task-container {
  margin-bottom: 30px;
}

.input-task {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%; /* Ширина поля ввода задачи */
}

.add-task-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Анимация изменения цвета фона и трансформации */
}

.add-task-button:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
  transform: scale(1.1); /* Увеличение размера кнопки при наведении */
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 100%; /* Ширина списка дел */
}

.todo-item {
  margin-bottom: 10px;
}

.edit-input {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 70%;
}

.delete-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Анимация изменения цвета фона и трансформации */
}

.delete-button:hover {
  background-color: #c82333; /* Изменение цвета фона при наведении */
  transform: scale(1.1); /* Увеличение размера кнопки при наведении */
}

.deleted {
  text-decoration: line-through;
  color: red;
}

.todo-item {
  margin-bottom: 10px;
  font-size: 30px;
}

.todo-item {
  position: relative; /* Чтобы можно было позиционировать линию относительно этого элемента */
}

.todo-item::after {
  content: ''; /* Добавляем пустое содержимое для создания псевдоэлемента */
  position: absolute; /* Абсолютное позиционирование */
  bottom: 0; /* Позиционируем линию внизу */
  left: 0; /* Располагаем линию слева */
  width: 100%; /* Ширина линии равна ширине родительского элемента */
  height: 1px; /* Толщина линии */
  background-color: black; /* Цвет линии */
}

body {
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градиент от красного к оранжевому */
}

.container {
  background-color: #dddddd; /* Оттенок серого, который сочетается с красным и оранжевым */
}
